## Printing

In [ ]:
# Basic Printing

In [6]:
print("hello friends")
print(3)
print(3.0)

hello friends
3
3.0

In [7]:
# Variable 
a=input()
print(a)
print(type(a))

4
4
<class 'str'>

In [1]:
a, b, c  = 1, 2, "abcd"
print(a , c, b)

d = 6 + 10j
type(d)

1 abcd 2

complex

In [14]:
# Inline Print
print(11,11)
for i in range(4):
    print(i,end='')

11 11
0123

In [15]:
print(11,11)

11 11

In [17]:
for i in range(4):
    print(i)

0 1 2 3

## Arithmetic and Conditional Operators

### Arithmetic Operators
        addition         +
        subraction       -
        divide(float)    /
        divide (int)     //
        modulus          %
        exponent         **
        multplication     *

In [19]:
#addition
a=8
b=4
print("sum",a+b)
print("sub",a-b)
print("mul",a*b)
print("divide",a/b)
print("divide int",a//b)
print("mod",a%b)
print("exp",a**b)

sum 12
sub 4
mul 32
divide 2.0
divide int 2
mod 0
exp 4096

### Logical operators

In [20]:
#AND
a=True
b=False
print(a and b)

False

In [22]:
#OR
print(a or b)

True

In [24]:
#not
print(not a)

False

In [1]:
#xor
x=True
y=False
z=False
print(z^y)
print(x^y)
print(x^x)

False
True
False

Python Identity Operators
1.is
2.is not

In [21]:
x=10
y=100
if x is y:
    print("hello")
if x is not y:
    print("not hello")

not hello

Python Membership Operators
1. in
2. not in

# let's code

## Let's Do swapping

In [ ]:
#fill in the blanks

# lOOPS

### FOR

In [16]:
#SYNTAX
## for variable in range(l.v,U.v,step):
for i in range(0,5,1):
    print("dun")
for i in range(5):
    print("again dun")
for i in range(0,4,2):
    print("and again dun")

dun
dun
dun
dun
dun
again dun
again dun
again dun
again dun
again dun
and again dun
and again dun

## while

In [23]:
i=0
while(i<5):
    print("dun")
    i=i+1

In [ ]:
i=0
while(i<5):
    print("dun")

<img src="C:\Users\PIYUSH\Downloads\meme.jpeg">

## Datatypes

## strings

In [29]:
s='hello friends chai peelo!'
print(s)

hello friends chai peelo!

In [32]:
print(s[0])

h

### concatenation

In [39]:
string1='hello friends chai peelo!'
string2=' oops garam hai'
string3= string1 + string2
print(string3)

hello friends chai peelo! oops garam hai

In [44]:
string4= 'hello friends chai peelo!'  " oops garam hai"
print(string4)

hello friends chai peelo! oops garam hai

In [54]:
l=len(string4)
print(string4[0:])
print(string4[5:])
print(string4[8:])
print(string4[l:])
print(string4[l-1:])
print(string4[l-2:])
print(string4[0:5])
print(string4[0:l])

hello friends chai peelo! oops garam hai
 friends chai peelo! oops garam hai
iends chai peelo! oops garam hai

i
ai
hello
hello friends chai peelo! oops garam hai

In [1]:
a = "abc,def, dhhu, eur"
spl = a.split(",")# splitting across the comma(present in the string)
spl

['abc', 'def', ' dhhu', ' eur']

In [ ]:
#The split() method splits the string into substrings if it finds instances of the separator

In [2]:
",".join(spl)# joing the list made back to string

'abc,def, dhhu, eur'

In [4]:
a = "123"
a.isalpha(), a.isdigit()

(False, True)

## Lets try something

### Editing the string

In [5]:
s1="fake it till you make it!"
s1[3]="C"

TypeError: 'str' object does not support item assignment

<img src="C:\Users\PIYUSH\Desktop\meme1.jpg">

## yup coz strinngs are immutable

In [9]:
## this is how u can do it
s2= s1.replace("e", "n")
print(s2)
## did u notice one thing a new string was returned

fakn it till you makn it!

## Conditional Statements

In [67]:
# look at the intendation part carefully 
#Instead of typing else, indenting more and typing an if we can simply type elif, which is short for else if. Like this:
a = 11
if a==10:
    print("hello frandss")

elif a==11:
    print("okay friendss")
    
else:
    print("no hello frandsss")

okay friendss

In [4]:
word="hello"
if word == "hi":
    print("Hi to you too!")
else:
    if word == "hello":
        print("Hello hello!")

Hello hello!

In [68]:
if 2 > 3 :
    print("WHAT!")
elif 3 > 4 or 4 > 3:
    print("NOOO")
else:
    print("makes sense")

NOOO

# LIST

In [6]:
l = [1,2,3, "dgdgd", [4,5]]
print(type(l))
l

<class 'list'>

[1, 2, 3, 'dgdgd', [4, 5]]

In [22]:
l = [1,2,3, "dgdgd", [4,5]]
l[3] = 34# list functions are mutable unlike the strings
l.append(2)
l[4][0]

4

In [3]:
l=[[i for i in range(j+1)]for j in range(10)]

In [4]:
l

[[0],
 [0, 1],
 [0, 1, 2],
 [0, 1, 2, 3],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 6],
 [0, 1, 2, 3, 4, 5, 6, 7],
 [0, 1, 2, 3, 4, 5, 6, 7, 8],
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [56]:
l1=[]
for i in range(10):
    l1.append(i)

In [57]:
print(l1,end=' ')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Are lists mutable??

In [26]:
ls=[1,2,34,45]
ls[2]=5
##Yes!

# DICTIONARY

In [5]:
dict = {}
print(type(dict))

dict[4] = "abddh"
dict["dhdd"] = 1344
print(len(dict))
print(dict)
dict[4]

<class 'dict'>
2
{4: 'abddh', 'dhdd': 1344}

'abddh'

In [66]:
l2=[]
for key in dict:
    l2.append(key)
for key in l2:
    print(dict[key])
print((l2))

abddh
1344
[4, 'dhdd']

# TUPPLE

In [48]:
t = (2, 3, 4)
d , e, f, = t
d, e, f

(2, 3, 4)

In [50]:
a=(1,2,3)
b=(2,3,4)
a+b

(1, 2, 3, 2, 3, 4)

In [69]:
l=(1,2,2,3,3)
l2=(1,3,5,5,7)
a=zip(l,l2) ## returns the iterable object
print(a)
for i in a: ## now we iterate over it
    print(i)

<zip object at 0x000001FB422FBC88>
(1, 1)
(2, 3)
(2, 5)
(3, 5)
(3, 7)

# fucntions

In [28]:
def hello_world():
    print("hello world")
hello_world()

hello world

## functions with parameters

In [31]:
def func(a):
    for i in range(a):
        print(i,end=" ")
func(5)

0 1 2 3 4

In [37]:
def func(a,b): ## takes two parameters
    if a==b:
        return True ## returns a boolean 
    else:
        return abs(a-b) ## returns positive difference

print(func(3,1)) 
print(func(8,8))

2
True

## lets make our own string replace fucntion

In [42]:
def replace(string1,ch,ch_new): ## 1st param as string 2nd the old char 3rd the new char
    string2=""
    for i in string1:
        if ch!=i:
            string2+=i
        else:
            string2+=ch_new
    return string2
s="hello"
s_new=replace(s,"o","w")
print(s_new)

hellw

## lets code

### write a function which takes a string and its character as an argument and return its index number

In [43]:
## TYPE YOUR CODE